<!DOCTYPE html>
<html>

<head>
  <title><%= fullDate %></title>
  <link rel="stylesheet" href="./stylesheets/monthlystyle.css"></link>
  <script>
    var currentDate = new Date('<%= currentDay %>');
  </script>
  <script type = "text/javascript"
         src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="./javascripts/calendar.js"></script>
</head>

<body>
  <!--LOGOUT-->
  <div>
    <a href="/logout"><button id="logout">Logout</button></a>
  </div>

  <!--EVENT DETAILS POPUP-->
  <div id="eventdetailspopup">
    <button id="detailsCancel" onclick="cancelEventDetails()">x</button>
    <h1 id="detailsName">Event Name</h1>
    <p>Starting Date:  <span id="detailsSDate"></span></p>
    <p>Starting Time:  <span id="detailsSSTime"></span></p>
    <p>Ending Date:  <span id="detailsEDate"></span></p>
    <p>Ending Time:  <span id="detailsEETime"></span></p>
    <p>Details:  <span id="detailsDetails"></span></p>
    <p>Repeat Duration:  <span id="detailsRepeat"></span></p>
    <p id="repDaysSpace"> <span id="detailsRepDays"></span></p>
    <!--if weekly: add another p tag in js-->
  </div>

  <!--EDIT POPUP-->
  <div id="editpopup">
    <h1>Edit Event</h1>
    <form name="eventInputs" id="eventInputs" onsubmit="return false">
      <label>Event Title: <input type="text" name="eventName" required></label>
      <p><label>Start Date: <input type="date" name="eventStartDate" required></label>   <label>Start: <input type="time" name="eventStartTime" required></label></p>
      <p><label>End Date: <input type="date" name="eventEndDate" required></label>   <label>End: <input type="time" name="eventEndTime" required></label></p>
      <p><label>Details: <input type="text" name="eventDetails"></label></p>
      <p><label>Repeat: <input type="checkbox" name="eventRepeat" id="repeatOptionButton" onclick="repeatOption()"></label></p>
      <p><label>None: <input type="radio" name="repeat" value="none" checked disabled="true" id="repNone" onclick="resetWeekly()">   Weekly: <input type="radio" name="repeat" value="weekly" disabled="true" id="repWeekly" onclick="repWeeklyOptions()">   Monthly: <input type="radio" name="repeat" value="monthly" disabled="true" id="repMonthly" onclick="resetWeekly()"></label></p>
      <p><label><input type="checkbox" name="weeklySun" value="Sun" disabled="true" id="Sun">Sun <input type="checkbox" name="weeklyMon" value="Mon" disabled="true" id="Mon">Mon <input type="checkbox" name="weeklyTue" value="Tue" disabled="true" id="Tue">Tue <input type="checkbox" name="weeklyWed" value="Wed" disabled="true" id="Wed">Wed <input type="checkbox" name="weeklyThu" value="Thu" disabled="true" id="Thu">Thu <input type="checkbox" name="weeklyFri" value="Fri" disabled="true" id="Fri">Fri <input type="checkbox" name="weeklySat" value="Sat" disabled="true" id="Sat">Sat</label></p>
      <label><button type="submit" id="updSubmit" onclick="formHandling()">Submit</button></label>
      <!-- <p><label><input type="button" value="Submit" onsubmit="formHandling()"></label></p> -->
    </form>
    <button id="exitEdit" onclick="cancelEdit()">x</button>
  </div>

  <!--UPDATE EVENT-->
  <div id="updateevent">
    <h1>Edit Event</h1>
    <form name="updateInputs" id="updateInputs" onsubmit="return false">
      <label>Event Title: <input type="text" name="eventName" ></label>
      <p><label>Start Date: <input type="date" name="eventStartDate" ></label>   <label>Start: <input type="time" name="eventStartTime" ></label></p>
      <p><label>End Date: <input type="date" name="eventEndDate" ></label>   <label>End: <input type="time" name="eventEndTime" ></label></p>
      <p><label>Details: <input type="text" name="eventDetails"></label></p>
      <p><label>Repeat: <input type="checkbox" name="eventRepeat" id="repeatOptionButton" onclick="repeatOption()"></label></p>
      <p><label>None: <input type="radio" name="repeat" value="none" checked disabled="true" id="repNone" onclick="resetWeekly()">   Weekly: <input type="radio" name="repeat" value="weekly" disabled="true" id="repWeekly" onclick="repWeeklyOptions()">   Monthly: <input type="radio" name="repeat" value="monthly" disabled="true" id="repMonthly" onclick="resetWeekly()"></label></p>
      <p><label><input type="checkbox" name="weeklySun" value="Sun" disabled="true" id="Sun">Sun <input type="checkbox" name="weeklyMon" value="Mon" disabled="true" id="Mon">Mon <input type="checkbox" name="weeklyTue" value="Tue" disabled="true" id="Tue">Tue <input type="checkbox" name="weeklyWed" value="Wed" disabled="true" id="Wed">Wed <input type="checkbox" name="weeklyThu" value="Thu" disabled="true" id="Thu">Thu <input type="checkbox" name="weeklyFri" value="Fri" disabled="true" id="Fri">Fri <input type="checkbox" name="weeklySat" value="Sat" disabled="true" id="Sat">Sat</label></p>
      <label><button type="submit" id="updSubmit" onclick="updateHandling()">Submit</button></label>
      <!-- <p><label><input type="button" value="Submit" onsubmit="formHandling()"></label></p> -->
    </form>
    <button id="exitUpd" onclick="cancelUpdate()">x</button>
  </div>


<!--Right Drawer-->
  <div id="rightdrawer">
    <dl>
      <dt class="date" id="drawerHeader">Mon, Nov 14th 2016</dt>
    </dl>
  </div>

<!--MONTHLY VIEW-->
  <div id="weeklyPanel">
    <table id="weeklyPanelClick">
      <tr>
        <td><a href=<%=linkWeekly%>><button class="weekpanelbtn">Week 1</button></a></td>
      </tr>
      <tr>
        <td><a href=<%=linkWeekly2%>><button class="weekpanelbtn">Week 2</button></a></td>
      </tr>
      <tr>
        <td><a href=<%=linkWeekly3%>><button class="weekpanelbtn">Week 3</button></a></td>
      </tr>
      <tr>
        <td><a href=<%=linkWeekly4%>><button class="weekpanelbtn">Week 4</button></a></td>
      </tr>
      <tr>
        <td><a href=<%=linkWeekly5%>><button class="weekpanelbtn">Week 5</button></a></td>
      </tr>
      <tr>
        <td><a href=<%=linkWeekly6%>><button class="weekpanelbtn">Week 6</button></a></td>
      </tr>
    </table>
  </div>
  <div id="monthlyview">
    <div id=prevMonth>
      <a href=<%=prevMonth%>><button><</button></a>
    </div>

    <div id=nextMonth>
      <a href=<%=nextMonth%>><button>></button></a>
    </div>

    <table class="view" id="monthDayClick">
      <tr class="month">
        <th colspan="7" id="monthHeader"><%= monthHeader %></th>
      </tr>
      <tr class="weekdays">
        <td>Sun</td>
        <td>Mon</td>
        <td>Tues</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
      </tr>
      <tr class = "days">
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr class = "days">
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr class="days">
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr class="days">
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr class="days">
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr class="days">
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    </table>
  </div>
  <div id="addEvent">
    <button onclick="editpopup()">+</button>
  </div>
</body>
</html>
